body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  margin-top: 20px;
}

.aviso {
  font-weight: bold;
  color: red;
}

.urna button {
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 250px;
  font-size: 16px;
  cursor: pointer;
}

#resultados {
  margin-top: 20px;
}